.container {
  display: flex;
  flex-direction: column;
  width: 280px;
  overflow: hidden;

  border: 1px solid #daa520;
  border-radius: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}
.image img {
  width: 310px;
  height: 100%;

  border-radius: 28px;
}
.informacoes {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 180px;
  padding: 10px;
  color: #000000;
}
.informacoes h3 {
  font-weight: 700;
  font-size: 18px;
}
.informacoes small {
  color: #daa520;
  font-weight: 500;
}
.informacoes p {
  font-size: 13px;
  text-align: justify;
}
.informacoes span  {
  text-align: end;
  font-weight: 600;
}
