.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.categoria {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  text-align: center;

  padding: 20px 0px;
}
