.container {
  display: flex;
  flex-grow: 1;
}
.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.botao img {
  width: 20px;
  height: 20px;
}
.botao p {
  font-size: 15px;
  font-weight: 600;
}
.btnAtivo {
  background: #daa520;
}
